.mid-padding{
	width: 44%;
	margin-left: 33%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.smm{
	padding-bottom: 25px;
}

@media (max-width: 767px)
{
	.mid-padding{
		width: 100%;
		margin-left: 0px;
		font-size: 15px;
	}
}

.smm{
	padding-bottom: 15px;
}